/* Variable */
:root {
  --primary-bgc: #ffffff;
  --secondary-bgc: rgb(100, 122, 61);
  --primary-f-color: #000000;
  --secondary-f-color: rgb(124, 121, 120);
  --primary-f-size: 16px;
  --title-f-size: 20px;
  --box-width: 250px;
}

/* Base style */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
